/node_modules
/vendor
/.git
/.env
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage
/phpunit.xml
/.editorconfig
/.gitattributes
/docker-compose.yml
/Dockerfile
/docker/
